<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plat.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plat.price %>
</p>

<p>
  <strong>Day:</strong>
  <%= @plat.day %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @plat.picture %>
</p>

<%= link_to 'Edit', edit_plat_path(@plat) %> |
<%= link_to 'Back', plats_path %>
